@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.slick-slide {
    margin: 0 !important;
}

.slider-container {
    position: relative;
    max-width: 950px;
    width: 100%;
    @media (max-width: 1400px) {
        .slider-container {
            width: 85%;
            margin: 10px;
        }
    }
    
    @media (max-width: 640px) {
        .slider-container {
            width: 75%;
            margin: 20px; 
        }
    }
}